<h1>Slack Emojis</h1>

<p>Here are all the emojis you could be using in Slack:</p>
<pre><code>
  <%= raw ap(@response.parsed_response) %>
</code></pre>

<%= link_to 'Documentation', 'https://api.slack.com/methods/emoji.list' %>
<hr>
<%= link_to 'Home', root_path %>