<h1>Slack Channels</h1>

<p>Here are all the channels you care about Slack:</p>
<pre><code>
  <%= raw ap(@filtered_response) %>
</code></pre>

<%= link_to 'Documentation', 'https://api.slack.com/methods/channels.list' %>
<hr>
<%= link_to 'Home', root_path %>